<%= turbo_frame_tag "details_tab" do %>
  <%= render partial: "shared/tabs" %>
    <div class="p-3 rounded border bg-warning text-dark">
      <div>
        <h3>Página do link 1</h3>
        <p class="mb-0">Conteúdo aqui</p>
      </div>
    </div>
  <% end %>