<div class="navbar navbar-expand mb-3">
  <ul class="navbar-nav w-auto m-auto">
    <li class="nav-item bg-info text-white rounded me-2"><%= link_to "Awards", awards_path, class: 'nav-link' %></li>
    <li class="nav-item bg-info text-white rounded me-2"><%= link_to "Credits", credits_path, class: 'nav-link' %></li>
  </ul>
</div>
  